<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softjx.dao.WayMapper" >
  <resultMap id="BaseResultMap" type="com.softjx.model.Way" >
    <id column="way_id" property="wayId" jdbcType="INTEGER" />
    <result column="stu_no" property="stuNo" jdbcType="VARCHAR" />
    <result column="sch_code" property="schCode" jdbcType="VARCHAR" />
    <result column="way_company" property="wayCompany" jdbcType="VARCHAR" />
    <result column="po_code" property="poCode" jdbcType="VARCHAR" />
    <result column="way_salary" property="waySalary" jdbcType="DOUBLE" />
    <result column="way_time" property="wayTime" jdbcType="VARCHAR" />
    <result column="way_addrss" property="wayAddrss" jdbcType="VARCHAR" />
    <result column="way_phone" property="wayPhone" jdbcType="VARCHAR" />
    <result column="way_evaluate" property="wayEvaluate" jdbcType="VARCHAR" />
    <result column="way_create_time" property="wayCreateTime" jdbcType="TIMESTAMP" />
    <result column="way_create_by" property="wayCreateBy" jdbcType="VARCHAR" />
    <result column="way_companor" property="wayCompanor" jdbcType="VARCHAR" />
    <result column="way_flag" property="wayFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    way_id, stu_no, sch_code, way_company, po_code, way_salary, way_time, way_addrss, 
    way_phone, way_evaluate, way_create_time, way_create_by, way_companor, way_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.softjx.model.WayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from way
    where way_id = #{wayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from way
    where way_id = #{wayId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.softjx.model.WayExample" >
    delete from way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.softjx.model.Way" >
    insert into way (way_id, stu_no, sch_code, 
      way_company, po_code, way_salary, 
      way_time, way_addrss, way_phone, 
      way_evaluate, way_create_time, way_create_by, 
      way_companor, way_flag)
    values (#{wayId,jdbcType=INTEGER}, #{stuNo,jdbcType=VARCHAR}, #{schCode,jdbcType=VARCHAR}, 
      #{wayCompany,jdbcType=VARCHAR}, #{poCode,jdbcType=VARCHAR}, #{waySalary,jdbcType=DOUBLE}, 
      #{wayTime,jdbcType=VARCHAR}, #{wayAddrss,jdbcType=VARCHAR}, #{wayPhone,jdbcType=VARCHAR}, 
      #{wayEvaluate,jdbcType=VARCHAR}, #{wayCreateTime,jdbcType=TIMESTAMP}, #{wayCreateBy,jdbcType=VARCHAR}, 
      #{wayCompanor,jdbcType=VARCHAR}, #{wayFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.softjx.model.Way" >
    insert into way
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wayId != null" >
        way_id,
      </if>
      <if test="stuNo != null" >
        stu_no,
      </if>
      <if test="schCode != null" >
        sch_code,
      </if>
      <if test="wayCompany != null" >
        way_company,
      </if>
      <if test="poCode != null" >
        po_code,
      </if>
      <if test="waySalary != null" >
        way_salary,
      </if>
      <if test="wayTime != null" >
        way_time,
      </if>
      <if test="wayAddrss != null" >
        way_addrss,
      </if>
      <if test="wayPhone != null" >
        way_phone,
      </if>
      <if test="wayEvaluate != null" >
        way_evaluate,
      </if>
      <if test="wayCreateTime != null" >
        way_create_time,
      </if>
      <if test="wayCreateBy != null" >
        way_create_by,
      </if>
      <if test="wayCompanor != null" >
        way_companor,
      </if>
      <if test="wayFlag != null" >
        way_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wayId != null" >
        #{wayId,jdbcType=INTEGER},
      </if>
      <if test="stuNo != null" >
        #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="schCode != null" >
        #{schCode,jdbcType=VARCHAR},
      </if>
      <if test="wayCompany != null" >
        #{wayCompany,jdbcType=VARCHAR},
      </if>
      <if test="poCode != null" >
        #{poCode,jdbcType=VARCHAR},
      </if>
      <if test="waySalary != null" >
        #{waySalary,jdbcType=DOUBLE},
      </if>
      <if test="wayTime != null" >
        #{wayTime,jdbcType=VARCHAR},
      </if>
      <if test="wayAddrss != null" >
        #{wayAddrss,jdbcType=VARCHAR},
      </if>
      <if test="wayPhone != null" >
        #{wayPhone,jdbcType=VARCHAR},
      </if>
      <if test="wayEvaluate != null" >
        #{wayEvaluate,jdbcType=VARCHAR},
      </if>
      <if test="wayCreateTime != null" >
        #{wayCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wayCreateBy != null" >
        #{wayCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="wayCompanor != null" >
        #{wayCompanor,jdbcType=VARCHAR},
      </if>
      <if test="wayFlag != null" >
        #{wayFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.softjx.model.WayExample" resultType="java.lang.Integer" >
    select count(*) from way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update way
    <set >
      <if test="record.wayId != null" >
        way_id = #{record.wayId,jdbcType=INTEGER},
      </if>
      <if test="record.stuNo != null" >
        stu_no = #{record.stuNo,jdbcType=VARCHAR},
      </if>
      <if test="record.schCode != null" >
        sch_code = #{record.schCode,jdbcType=VARCHAR},
      </if>
      <if test="record.wayCompany != null" >
        way_company = #{record.wayCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.poCode != null" >
        po_code = #{record.poCode,jdbcType=VARCHAR},
      </if>
      <if test="record.waySalary != null" >
        way_salary = #{record.waySalary,jdbcType=DOUBLE},
      </if>
      <if test="record.wayTime != null" >
        way_time = #{record.wayTime,jdbcType=VARCHAR},
      </if>
      <if test="record.wayAddrss != null" >
        way_addrss = #{record.wayAddrss,jdbcType=VARCHAR},
      </if>
      <if test="record.wayPhone != null" >
        way_phone = #{record.wayPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.wayEvaluate != null" >
        way_evaluate = #{record.wayEvaluate,jdbcType=VARCHAR},
      </if>
      <if test="record.wayCreateTime != null" >
        way_create_time = #{record.wayCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wayCreateBy != null" >
        way_create_by = #{record.wayCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.wayCompanor != null" >
        way_companor = #{record.wayCompanor,jdbcType=VARCHAR},
      </if>
      <if test="record.wayFlag != null" >
        way_flag = #{record.wayFlag,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update way
    set way_id = #{record.wayId,jdbcType=INTEGER},
      stu_no = #{record.stuNo,jdbcType=VARCHAR},
      sch_code = #{record.schCode,jdbcType=VARCHAR},
      way_company = #{record.wayCompany,jdbcType=VARCHAR},
      po_code = #{record.poCode,jdbcType=VARCHAR},
      way_salary = #{record.waySalary,jdbcType=DOUBLE},
      way_time = #{record.wayTime,jdbcType=VARCHAR},
      way_addrss = #{record.wayAddrss,jdbcType=VARCHAR},
      way_phone = #{record.wayPhone,jdbcType=VARCHAR},
      way_evaluate = #{record.wayEvaluate,jdbcType=VARCHAR},
      way_create_time = #{record.wayCreateTime,jdbcType=TIMESTAMP},
      way_create_by = #{record.wayCreateBy,jdbcType=VARCHAR},
      way_companor = #{record.wayCompanor,jdbcType=VARCHAR},
      way_flag = #{record.wayFlag,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.softjx.model.Way" >
    update way
    <set >
      <if test="stuNo != null" >
        stu_no = #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="schCode != null" >
        sch_code = #{schCode,jdbcType=VARCHAR},
      </if>
      <if test="wayCompany != null" >
        way_company = #{wayCompany,jdbcType=VARCHAR},
      </if>
      <if test="poCode != null" >
        po_code = #{poCode,jdbcType=VARCHAR},
      </if>
      <if test="waySalary != null" >
        way_salary = #{waySalary,jdbcType=DOUBLE},
      </if>
      <if test="wayTime != null" >
        way_time = #{wayTime,jdbcType=VARCHAR},
      </if>
      <if test="wayAddrss != null" >
        way_addrss = #{wayAddrss,jdbcType=VARCHAR},
      </if>
      <if test="wayPhone != null" >
        way_phone = #{wayPhone,jdbcType=VARCHAR},
      </if>
      <if test="wayEvaluate != null" >
        way_evaluate = #{wayEvaluate,jdbcType=VARCHAR},
      </if>
      <if test="wayCreateTime != null" >
        way_create_time = #{wayCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wayCreateBy != null" >
        way_create_by = #{wayCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="wayCompanor != null" >
        way_companor = #{wayCompanor,jdbcType=VARCHAR},
      </if>
      <if test="wayFlag != null" >
        way_flag = #{wayFlag,jdbcType=BIT},
      </if>
    </set>
    where way_id = #{wayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.softjx.model.Way" >
    update way
    set stu_no = #{stuNo,jdbcType=VARCHAR},
      sch_code = #{schCode,jdbcType=VARCHAR},
      way_company = #{wayCompany,jdbcType=VARCHAR},
      po_code = #{poCode,jdbcType=VARCHAR},
      way_salary = #{waySalary,jdbcType=DOUBLE},
      way_time = #{wayTime,jdbcType=VARCHAR},
      way_addrss = #{wayAddrss,jdbcType=VARCHAR},
      way_phone = #{wayPhone,jdbcType=VARCHAR},
      way_evaluate = #{wayEvaluate,jdbcType=VARCHAR},
      way_create_time = #{wayCreateTime,jdbcType=TIMESTAMP},
      way_create_by = #{wayCreateBy,jdbcType=VARCHAR},
      way_companor = #{wayCompanor,jdbcType=VARCHAR},
      way_flag = #{wayFlag,jdbcType=BIT}
    where way_id = #{wayId,jdbcType=INTEGER}
  </update>
  
  
  
  
  
  
  
  
   
   <!-- 自定义 -->


 <!-- 返回多表查询的字段名 -->

  <resultMap id="WithSchoolResultMap" type="com.softjx.model.Way" >
   <id column="way_id" property="wayId" jdbcType="INTEGER" />
    <result column="stu_no" property="stuNo" jdbcType="VARCHAR" />
    <result column="sch_code" property="schCode" jdbcType="VARCHAR" />
    <result column="way_company" property="wayCompany" jdbcType="VARCHAR" />
    <result column="po_code" property="poCode" jdbcType="VARCHAR" />
    <result column="way_salary" property="waySalary" jdbcType="DOUBLE" />
    <result column="way_time" property="wayTime" jdbcType="VARCHAR" />
    <result column="way_addrss" property="wayAddrss" jdbcType="VARCHAR" />
    <result column="way_phone" property="wayPhone" jdbcType="VARCHAR" />
    <result column="way_evaluate" property="wayEvaluate" jdbcType="VARCHAR" />
    <result column="way_create_time" property="wayCreateTime" jdbcType="TIMESTAMP" />
    <result column="way_create_by" property="wayCreateBy" jdbcType="VARCHAR" />
    <result column="way_companor" property="wayCompanor" jdbcType="VARCHAR" />
    <result column="way_flag" property="wayFlag" jdbcType="BIT" />
     <!-- 指定联合查询出的学校字段-->
    <association property="position" javaType="com.softjx.model.Position">
    	<id column="po_code1" property="poCode"/>
    	<result column="po_name" property="poName"/>
    </association>
  </resultMap>
  
  
  <!-- 多表查询的字段名 -->
   <sql id="Student_School_Column_List">
  	<!-- a.t_id, a.t_name, a.t_age, a.t_enterdate, a.t_sid,b.t_sid as t_sid1,b.t_name as t_name1
  	 -->
  	
  	a.way_id, a.stu_no,a.sch_code, a.way_company, a.po_code, a.way_salary, a.way_time, a.way_addrss, a.way_phone, 
    a.way_evaluate, a.way_companor,  a.way_create_time, a.way_create_by, 
    a.way_flag , b.po_code as po_code1, b.po_name 
   </sql>
   
   
   <!-- 查询学生同时带学校信息 -->
              
  <select id="selectByExampleWithPo" resultMap="WithSchoolResultMap">
	   select
	    <if test="distinct">
	      distinct
	    </if>
	    <include refid="Student_School_Column_List" />
		FROM way a
		left join position b on a.po_code=b.po_code
	    <if test="_parameter != null">
	      <include refid="Example_Where_Clause" />
	    </if>
	    <if test="orderByClause != null">
	      order by ${orderByClause}
	    </if>
  </select>
  
  
  
  
  
</mapper>